* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #ebebeb;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: openB;
  src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: openBI;
  src: url(fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: openR;
  src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: openI;
  src: url(fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: openL;
  src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: openLI;
  src: url(fonts/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: myFont;
  src: url(../css/fonts/DancingScript-VariableFont_wght.ttf);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  min-height: 60px;
}
header .primary-nav {
  width: 100%;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  padding-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .primary-nav .hamburger {
  display: none;
  position: block;
  left: 20px;
}
header .primary-nav .bar {
  display: block;
  width: 25px;
  height: 3.2px;
  border-radius: 10px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
header .primary-nav .links {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}
header .primary-nav .links a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .primary-nav .links a span {
  color: #FA0F79;
  font-size: 12px;
}
header .primary-nav .links a:hover {
  color: #d70d68;
}
header .primary-nav .logo a {
  font-size: 80px;
  text-decoration: none;
  color: #416D8C;
  font-family: myFont;
}
header .secondary-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .secondary-nav .nav-menu {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .secondary-nav .nav-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .secondary-nav .nav-menu ul li a {
  margin-top: 16px;
  height: 40px;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .secondary-nav .nav-menu ul li a:hover {
  color: #416D8C;
}

@media (max-width: 1000px) {
  header {
    min-height: 60px;
  }
  header .secondary-nav .nav-menu .disappear {
    display: none;
  }
}
@media (max-width: 1000px) {
  header {
    min-height: 60px;
  }
  header .primary-nav {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    padding-top: 30px;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  header .primary-nav .hamburger {
    display: block;
    padding-top: 30px;
  }
  header .primary-nav .links {
    display: none;
  }
  header .primary-nav a {
    margin: 0 auto;
    width: 50px;
  }
  header .primary-nav a .logo {
    background-color: lightcoral;
    width: 50px;
    height: 30px;
    margin: 0 auto;
    text-align: right;
  }
  header .primary-nav a .logo h1 {
    font-size: 24px;
  }
  header .secondary-nav {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    min-height: 60px;
  }
  header .secondary-nav {
    padding-top: 10px;
  }
  header .secondary-nav .nav-menu {
    min-height: 150px;
  }
  header .secondary-nav .nav-menu ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .secondary-nav .nav-menu ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #111;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 0;
  }
  header .secondary-nav .nav-menu ul li a:hover {
    color: #416D8C;
    background-color: #fafafa;
  }
  header .nav-menu {
    display: none;
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  header .nav-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav-menu ul li {
    margin-bottom: 5px;
    width: 100%;
  }
  header .nav-menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  header .nav-item {
    margin: 2.5rem 0;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
  }
  header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  header .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
#home {
  width: 100%;
  height: 110vh;
  padding-top: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#90F0DF), to(#38A0EC));
  background-image: linear-gradient(to right, #90F0DF, #38A0EC);
  position: relative;
}
#home svg {
  position: absolute;
  bottom: 0;
}
#home .testingdiv {
  display: none;
}
#home .home-content {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
#home .home-content .links {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-right: 0;
}
#home .home-content .links a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #ebebeb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 30px;
}
#home .home-content .links a span {
  color: #FA0F79;
  font-size: 12px;
}
#home .home-content .links a:hover {
  color: #d70d68;
}
#home .home-content .hamburger {
  display: none;
  position: absolute;
  width: 25px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  right: 0;
}
#home .home-content .bar {
  display: block;
  width: 25px;
  height: 3.2px;
  border-radius: 10px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
#home .home-content .text-holder-header {
  position: absolute;
  right: 0;
  top: 60px;
}
#home .home-content h6 {
  font-family: openL;
  color: #ebebeb;
  font-size: 20px;
  margin-bottom: 0;
}
#home .home-content h1 {
  font-family: openB;
  color: #ebebeb;
  font-size: 72px;
  margin-bottom: -10px;
}
#home .home-content .tabsHolder {
  font-family: openR;
  width: 400px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
}
#home .home-content .tabsHolder .tabsHolderRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#home .home-content .tabsHolder .tabsHolderRow .tab-outline {
  width: auto;
  border: 2px solid #ebebeb;
  border-radius: 20px;
  padding: 8px 18px;
  margin: 5px 0;
  color: #ebebeb;
}
#home .home-content .tabsHolder .tabsHolderRow .tab-fill {
  width: auto;
  border-radius: 20px;
  padding: 8px 18px;
  margin: 5px 0;
  background-color: #ebebeb;
  color: #38A0EC;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.2);
          box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#home .home-content .tabsHolder .tabsHolderRow .tab-email:hover {
  background-color: #def1ff;
  cursor: pointer;
}
#home .home-content .tabsHolder a {
  float: right;
  text-decoration: none;
}
#home .home-content .tabsHolder a .btn-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
  padding: 20px;
  color: #ebebeb;
  background-color: #FA0F79;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb62a7), to(#FA0F79));
  background-image: linear-gradient(to bottom, #fb62a7, #FA0F79);
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4), 0px 1px 3px 1px rgba(60, 64, 67, 0.25);
          box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4), 0px 1px 3px 1px rgba(60, 64, 67, 0.25);
  cursor: pointer;
}
#home .home-content .tabsHolder a .btn-checkout:hover {
  background-color: #d70d68;
}

@media (max-width: 850px) {
  #home {
    position: relative;
  }
  #home .testingdiv.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #38A0EC;
    z-index: 200;
  }
  #home .testingdiv.active .mobileLinks {
    width: 100%;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #home .testingdiv.active .mobileLinks a {
    height: 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #ebebeb;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .testingdiv.active .mobileLinks a span {
    color: #ebebeb;
    font-size: 20px;
    padding-right: 5px;
  }
  #home .home-content .links {
    display: none;
  }
  #home .home-content .nav-item {
    margin: 2.5rem 0;
  }
  #home .home-content .hamburger {
    z-index: 300;
    display: block;
    cursor: pointer;
  }
  #home .home-content .hamburger.active {
    position: fixed;
    top: 60px;
    right: 40px;
  }
  #home .home-content .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  #home .home-content .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  #home .home-content .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
}
@media (max-width: 500px) {
  #home {
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    background-image: -webkit-gradient(linear, left top, right top, from(#90F0DF), to(#38A0EC));
    background-image: linear-gradient(to right, #90F0DF, #38A0EC);
    position: relative;
  }
  #home svg {
    position: absolute;
    bottom: 0;
  }
  #home .home-content {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  #home .home-content .text-holder-header {
    width: 100%;
    padding-top: 20px;
  }
  #home .home-content h6 {
    font-size: 16px;
  }
  #home .home-content h1 {
    font-size: 38px;
    margin-bottom: 0;
  }
  #home .home-content .tabsHolder {
    width: 100%;
  }
  #home .home-content .tabsHolder .tabsHolderRow .tab-outline {
    width: auto;
    border: 2px solid #ebebeb;
    border-radius: 20px;
    padding: 5px 14px;
    margin: 5px 0;
    color: #ebebeb;
    font-size: 13px;
  }
  #home .home-content .tabsHolder .tabsHolderRow .tab-fill {
    width: auto;
    border-radius: 20px;
    padding: 7px 10px;
    margin: 5px 0;
    background-color: #ebebeb;
    color: #38A0EC;
    font-size: 13px;
  }
  #home .home-content .tabsHolder a {
    float: right;
    text-decoration: none;
  }
  #home .home-content .tabsHolder a .btn-checkout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 10px;
    color: #ebebeb;
    background-color: #FA0F79;
    border-radius: 50px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4), 0px 1px 3px 1px rgba(60, 64, 67, 0.25);
            box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4), 0px 1px 3px 1px rgba(60, 64, 67, 0.25);
    cursor: pointer;
    font-size: 13px;
  }
  #home .home-content .tabsHolder a .btn-checkout:hover {
    background-color: #d70d68;
  }
}
.about {
  margin-top: -2px;
  width: 100%;
  min-height: 800px;
  padding-bottom: 50px;
  background-color: white;
  position: relative;
}
.about svg {
  position: absolute;
  bottom: 0;
}
.about .about-holder {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 200px;
}
.about .about-holder .aboutTitle {
  padding-top: 50px;
  text-align: left;
  color: #333;
  font-size: 40px;
  font-family: openR;
}
.about .about-holder .aboutTitle span {
  font-size: 20px;
  color: #FA0F79;
}
.about .about-holder .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}
.about .about-holder .aboutContainer .aboutImage {
  min-width: 350px;
  height: 450px;
  background-color: #333;
  background-image: url(../images/marielle-harrell-340x340.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.about .about-holder .aboutContainer .aboutInfo {
  padding-left: 30px;
}
.about .about-holder .aboutContainer .aboutInfo p {
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.about .about-holder .aboutContainer .aboutInfo a {
  float: left;
  text-decoration: none;
}
.about .about-holder .aboutContainer .aboutInfo a .btn-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
  padding: 15px;
  color: #ebebeb;
  background-color: #FA0F79;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb62a7), to(#FA0F79));
  background-image: linear-gradient(to bottom, #fb62a7, #FA0F79);
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4), 0px 1px 3px 1px rgba(60, 64, 67, 0.25);
          box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4), 0px 1px 3px 1px rgba(60, 64, 67, 0.25);
  cursor: pointer;
}
.about .about-holder .aboutContainer .aboutInfo a .btn-checkout:hover {
  background-color: #d70d68;
}

@media only screen and (max-width: 900px) {
  .about .aboutTitle {
    font-size: 50px;
  }
  .about .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
  }
  .about .aboutContainer .aboutImage {
    width: 300px;
    height: 420px;
  }
  .about .aboutContainer .aboutInfo {
    padding-top: 20px;
    min-height: 200px;
    padding-left: 0;
  }
  .about .skillsTitle {
    font-size: 50px;
  }
  .about .skillsContainer {
    width: 450px;
    margin: 10px auto;
  }
  .about .skillsContainer .logo {
    height: 70px;
    width: 70px;
  }
  .about .skillsContainer .logo img {
    height: 70px;
    width: 70px;
  }
}
@media only screen and (max-width: 500px) {
  .about .about-holder .aboutTitle {
    font-size: 32px;
  }
  .about .about-holder .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-holder .aboutContainer .aboutImage {
    min-width: 250px;
    height: 300px;
  }
  .about .about-holder .aboutContainer .aboutInfo {
    padding-left: 0;
  }
  .about .skillsTitle {
    margin-top: 20px;
  }
  .about .skillsContainer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.work {
  margin-top: -2px;
  width: 100%;
  min-height: 730px;
  padding-bottom: 50px;
  background-color: white;
}
.work .workTitle {
  padding-top: 50px;
  text-align: center;
  color: #333;
  font-size: 40px;
  font-family: openR;
}
.work .workTitle span {
  font-size: 20px;
  color: #FA0F79;
}
.work .workContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
  min-height: 400px;
  max-width: 900px;
  margin: 10px auto;
}
.work .workContainer .workImage {
  width: 400px;
  height: 250px;
}
.work .workContainer .workImage img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.work .workContainer .workImage2 {
  width: 400px;
  height: 320px;
}
.work .workContainer .workImage2 img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.work .workContainer .workInfo {
  width: 400px;
  min-height: 250px;
}
.work .workContainer .workInfo h1 {
  color: #333;
  font-family: openL;
  font-size: 36px;
  text-align: left;
}
.work .workContainer .workInfo p {
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.work .workContainer .workInfo a {
  text-decoration: none;
  color: white;
}
.work .workContainer .workInfo a .workButton {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 16px;
  font-family: openL;
  color: white;
  background-color: #38A0EC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#67bbf7), to(#38A0EC));
  background-image: linear-gradient(to bottom, #67bbf7, #38A0EC);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.2);
          box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.work .workContainer .workInfo a .workButton:hover {
  color: white;
  background-image: #1f84cb;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .work .workTitle {
    font-size: 32px;
  }
  .work .workContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
    min-height: 300px;
  }
  .work .workContainer .workImage {
    width: 300px;
    height: 210px;
  }
  .work .workContainer .workImage2 {
    width: 300px;
    height: 250px;
  }
  .work .workContainer .workInfo {
    padding-top: 20px;
    min-height: 200px;
    width: 300px;
  }
}
@media only screen and (max-width: 500px) {
  .work .workTitle {
    font-size: 32px;
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }
  .work .workContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .work .workContainer .workImage {
    width: 300px;
    height: 200px;
  }
  .work .workContainer .workImage {
    width: 300px;
    height: 230px;
  }
  .work .workContainer .workInfo {
    padding: 0;
    padding-top: 20px;
    width: 100%;
    text-align: left;
    font-size: 12px;
  }
  .work .workContainer .workInfo h1 {
    font-size: 24px;
  }
}
#contact {
  width: 100%;
  min-height: 90vh;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: -webkit-gradient(linear, left top, right top, from(#90F0DF), to(#38A0EC));
  background-image: linear-gradient(to right, #90F0DF, #38A0EC);
}
#contact .contact-content {
  width: 950px;
  margin: 0 auto;
}
#contact .contact-content h6 {
  font-size: 30px;
  color: white;
  font-family: openR;
}
#contact .contact-content h6 span {
  font-size: 20px;
  color: #FA0F79;
}
#contact .contact-content h1 {
  margin-top: 100px;
  text-align: center;
  color: white;
  font-family: openB;
  font-size: 48px;
}
#contact .contact-content p {
  max-width: 500px;
  margin: 0 auto;
  font-family: openL;
  text-align: center;
  font-size: 20px;
  color: white;
}
#contact .contact-content a {
  text-decoration: none;
  margin: 0 auto;
}
#contact .contact-content a .btn-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #ebebeb;
  background-color: #FA0F79;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb62a7), to(#FA0F79));
  background-image: linear-gradient(to bottom, #fb62a7, #FA0F79);
  width: 170px;
  margin: 30px auto;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4), 0px 1px 3px 1px rgba(60, 64, 67, 0.25);
          box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4), 0px 1px 3px 1px rgba(60, 64, 67, 0.25);
  cursor: pointer;
}
#contact .contact-content a .btn-email h3 {
  font-family: openL;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
}

@media (max-width: 1000px) {
  #contact .contact-content {
    width: 80%;
    margin: 0 auto;
  }
  #contact .contact-content a .btn-email {
    margin: 30px auto;
  }
}
@media (max-width: 500px) {
  #contact {
    padding-top: 50px;
    min-height: 350px;
  }
  #contact .contact-content {
    width: 80%;
    height: 350px;
    margin: 0 auto;
  }
  #contact .contact-content h6 {
    text-align: left;
  }
  #contact .contact-content h1 {
    margin-top: 40px;
    font-size: 28px;
  }
  #contact .contact-content p {
    font-size: 14px;
  }
}
footer {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#90F0DF), to(#38A0EC));
  background-image: linear-gradient(to right, #90F0DF, #38A0EC);
  margin-top: -5px;
}
footer p {
  padding: 30px;
  text-align: center;
  color: white;
  font-family: openL;
  font-size: 12px;
}

.nav-socials {
  width: 60px;
  height: 240px;
  position: fixed;
  bottom: 80px;
  left: 50px;
  z-index: 20;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-socials .social2 {
  background-image: url(../images/socials/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: 15px auto;
  cursor: pointer;
}
.nav-socials .social3 {
  background-image: url(../images/socials/linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: 15px auto;
  cursor: pointer;
}
.nav-socials .social4 {
  background-image: url(../images/socials/instagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: 15px auto;
  cursor: pointer;
}
.nav-socials .social5 {
  background-image: url(../images/socials/github.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: 15px auto;
  cursor: pointer;
}

@media (max-width: 650px) {
  .nav-socials {
    left: 5px;
    bottom: 10px;
    height: 160px;
  }
  .nav-socials .social, .nav-socials .social2, .nav-socials .social3, .nav-socials .social4, .nav-socials .social5 {
    height: 30px;
    width: 30px;
    margin: 10px;
  }
}
.skills {
  margin-top: -2px;
  width: 100%;
  min-height: 300px;
  padding-bottom: 60px;
  background-color: #FFC111;
  position: relative;
}
.skills .skills-holder {
  width: 80%;
  margin: 0 auto;
}
.skills .skills-holder .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}
.skills .skills-holder .skillsContainer .logo {
  width: 120px;
  height: 120px;
  margin: 18px;
}
.skills .skills-holder .skillsContainer .logo img {
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.skills .skills-holder .skillsContainer .logo:nth-child(2) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(4) {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(5) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(6) {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(7) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(8) {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(9) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(10) {
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}
.skills .skills-holder .skillsContainer .logo:nth-child(11) {
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

@media only screen and (max-width: 900px) {
  .skillsTitle {
    margin-top: 20px;
  }
  .skillsContainer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}