.about{
    margin-top: -2px;
    width: 100%;
    min-height: 800px;
    padding-bottom: 50px;
    background-color: white;
    position: relative;
    svg{
        position: absolute;
        bottom: 0;
    }

    .about-holder{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 200px;

        .aboutTitle{
            padding-top: 50px;
            text-align: left;
            color: #333;
            font-size: 40px;
            font-family: openR;
            span{
                font-size: 20px;
                color: $site-pink;
            }
        }
    
        .aboutContainer{
            display: flex;
            justify-content: space-evenly;
            margin-top: 30px;
            
            .aboutImage{
                min-width: 350px;
                height: 450px;
                background-color: #333;
                background-image: url(../images/marielle-harrell-340x340.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 20px;
            }
    
            .aboutInfo{
                padding-left:  30px;
    
                p{
                    color: #333;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 18px;
                }

                a{
                    float: left;
                    text-decoration: none;
                    .btn-checkout{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-top:10px;
                        padding: 15px;
                        color: $site-white;
                        background-color: $site-pink;
                        background-image: linear-gradient(to bottom, #fb62a7, #FA0F79); 
    
                        border-radius: 50px;
                        transition: 0.3s;
                        box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.4),
                        0px 1px 3px 1px rgba(60, 64, 67, 0.25);                      
                        cursor: pointer;
                    }
                    .btn-checkout:hover{
                        background-color: $site-pink-hover;
                    }
                }
    
            }
        }
    }
}

@media only screen and (max-width: 900px){
    .about{
        .aboutTitle{
            font-size: 50px;
        }
        .aboutContainer{
            flex-direction: column;
            justify-content: left;
            text-align: left;

            .aboutImage{
                width: 300px;
                height: 420px;
            }
            .aboutInfo{
                padding-top: 20px;
                // background-color: lightgreen;
                min-height: 200px;
                
                padding-left: 0;
            }
        }
        .skillsTitle{
            font-size: 50px;
            // background-color: beige;
        }
        .skillsContainer{
            // background-color: red;
            width: 450px;
            margin: 10px auto;
            .logo{
                height: 70px;
                width: 70px;
                img{
                    height: 70px;
                    width: 70px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .about{
        .about-holder{
            .aboutTitle{
                font-size: 32px;
            }
            .aboutContainer{
                flex-direction: column;
    
                .aboutImage{
                    min-width: 250px;
                    height: 300px;
                }
                .aboutInfo{
                    padding-left: 0;
                }
            }
        }
        
        .skillsTitle{
            margin-top: 20px;
        }
        .skillsContainer{
            width: 100%;
            flex-direction: column;
        }
    }
}

