footer{
    width: 100%;
    height: 70px;
    background-color: #416D8C;

    p{
        margin: 0 auto;
        text-align: center;
        color: white;
        font-family: openL;
        font-size: 12px;
    }
}