footer{
    width: 100%;
    background-image: linear-gradient(to right, #90F0DF, #38A0EC); 
    margin-top: -5px;
    p{
        padding: 30px;
        text-align: center;
        color: white;
        font-family: openL;
        font-size: 12px;
    }
}