.skills{
    margin-top: -2px;
    width: 100%;
    min-height: 300px;
    padding-bottom: 60px;
    background-color: $site-gold;
    position: relative;

    .skills-holder{
        width: 80%;
        margin: 0 auto;
        .skillsContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 900px;
            margin: 0 auto;
            // background-color: black;
            
            .logo{
                width: 120px;
                height: 120px;
                // background-color: red;
                margin: 18px;
        
                img {
                    width: 120px;
                    height: 120px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .logo:nth-child(2){
                transition-delay: 100ms;
            }
            .logo:nth-child(3){
                transition-delay: 200ms;
            }.logo:nth-child(4){
                transition-delay: 300ms;
            }.logo:nth-child(5){
                transition-delay: 400ms;
            }.logo:nth-child(6){
                transition-delay: 500ms;
            }.logo:nth-child(7){
                transition-delay: 600ms;
            }.logo:nth-child(8){
                transition-delay: 700ms;
            }.logo:nth-child(9){
                transition-delay: 800ms;
            }
            .logo:nth-child(10){
                transition-delay: 900ms;
            }.logo:nth-child(11){
                transition-delay: 1000ms;
            }
            
        }
    }
}



@media only screen and (max-width: 900px){


.skillsTitle{
    margin-top: 20px;
}
.skillsContainer{
    width: 100%;
    flex-direction: column;
}

}