.nav-socials{
    width: 60px;
    height: 240px;
    position: fixed;
    bottom: 80px;
    left: 50px;
    z-index: 20;
    align-items: center;
    justify-content: center;

    .social2{
        background-image: url(../images/socials/facebook.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 30px;  
        margin: 15px auto;
        cursor: pointer;
    }

    .social3{
        background-image: url(../images/socials/linkedin.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 30px;  
        margin: 15px auto;
        cursor: pointer;
    }

    .social4{
        background-image: url(../images/socials/instagram.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 30px;  
        margin: 15px auto;
        cursor: pointer;
    }

    .social5{
        background-image: url(../images/socials/github.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 30px;  
        margin: 15px auto;
        cursor: pointer;
    }
}

@media (max-width: 650px) {
    .nav-socials{
        left: 5px;
        bottom: 10px;
        height: 160px;
        .social, .social2, .social3, .social4, .social5{
            height: 30px;
            width: 30px;
            margin: 10px;
        }
    }
    }