// THIS ARE THE SITE COLORS

$site-white: #ffffff;
$site-black: #000000;
$site-purple: #6c48b2;
$site-darkpurple: #543494;
$site-yellow: #e1b520;
$site-darkyellow: #cfa61d;
$site-lightyellow: #fff6d9;
