// THIS ARE THE SITE COLORS

$site-white: #ebebeb;
$site-white-hover: #def1ff;
$site-blue: #38A0EC;
$site-blue-hover: #1f84cb;
$site-mint: #90F0DF;
$site-pink: #FA0F79;
$site-pink-hover: #d70d68;
$site-black: #000000;
$site-purple: #6c48b2;
$site-darkpurple: #543494;
$site-gold: #FFC111;
$site-darkyellow: #cfa61d;
$site-lightyellow: #fff6d9;
