.work{
    margin-top: -2px;
    width: 100%;
    min-height: 730px;
    padding-bottom: 50px;
    background-color: white;

    .workTitle{
        padding-top: 50px;
        text-align: center;
        color: #333;
        font-size: 40px;
        font-family: openR;
        span{
            font-size: 20px;
            color: $site-pink;
        }
    }

    .workContainer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 30px;
        min-height: 400px;
        max-width: 900px;
        margin: 10px auto;
        
        .workImage{
            width: 400px;
            height: 250px;
            img{
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .workImage2{
            width: 400px;
            height: 320px;
            img{
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .workInfo{
            width: 400px;
            min-height: 250px;

            h1{
                color: #333;
                font-family: openL;
                font-size: 36px;
                text-align: left;
            }

            p{
                color: #333;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            a{
                text-decoration: none;
                color: white;
                .workButton{
                    width: 100%;
                    height: 45px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    font-size: 16px;
                font-family: openL;
                    color:white;
                    background-color: $site-blue;
                    background-image: linear-gradient(to bottom, #71bff7, #38A0EC); 

                    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
                    0px 1px 3px 1px rgba(60, 64, 67, 0.2);
                    transition: 0.3s;
                }
                .workButton:hover{
                    color: white;
                    background-image: $site-blue-hover;
                    background-image: linear-gradient(to bottom, #71bff7, #1f84cb); 
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px){
    .work{
        // background-color: red;
        .workTitle{
            font-size: 32px;
        }
        .workContainer{
            flex-direction: column;
            // background-color: khaki;
            margin-bottom: 50px;
            min-height: 300px;

            .workImage{
                width: 300px;
                height: 210px;
            }
            .workImage2{
                width: 300px;
                height: 250px;
            }
            .workInfo{
                padding-top: 20px;
                // background-color: lightgreen;
                min-height: 200px;
                width: 300px;
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .work{
        .workTitle{
            font-size: 32px;
            text-align: left;
            width: 80%;
            margin: 0 auto;
        }
        .workContainer{
            flex-direction: column;
            width: 80%;
            margin: 0 auto;

            .workImage{
                width: 300px;
                height: 200px;
            }
            .workImage{
                width: 300px;
                height: 230px;
            }
            .workInfo{
                padding: 0;
                padding-top: 20px;
                width: 100%;
                text-align: left;
                font-size: 12px;

                h1{
                    font-size: 24px;
                }
            }

        }
    }
}
